server:
  port: 8090

spring:
  application:
    name: transaction-service
  datasource:
    url: jdbc:mysql://localhost:3306/bookvault?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
