server:
  port: 8091

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/bookvault?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
